@charset "UTF-8";
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.container {
  width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header__cont {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: black;
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  font-weight: 100px;
  text-decoration: none;
}

.header__nav-list {
  display: flex;
  align-items: center;
  padding-left: 500px;
}

.about {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: black;
  height: 500px;
}

.about__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.education__container {
  border: 1px solid;
  border-color: black;
  height: 100px;
}

.education {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__card {
  overflow: visible;
  width: 370px;
  height: 495px;
}

.project__card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.9333333333);
  border-radius: 5px;
}

.front, .project__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.project__card-back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.project__card-back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.project__card-back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project__card-back-logo {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__card:hover .project__card-content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }
  0% {
    transform: rotateZ(360deg);
  }
}
.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 90%;
  height: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: rgba(0, 0, 0, 0.5333333333);
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.web {
  color: #2196f3;
}

.sty {
  color: white;
}

.description {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5333333333);
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5333333333);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 18px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-footer {
  color: rgba(255, 255, 255, 0.5333333333);
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
  z-index: 2;
}

.bottom {
  background-color: #2196f3;
  left: 150px;
  top: 155px;
  width: 400px;
  height: 400px;
  animation-delay: -800ms;
  z-index: 2;
}

.right {
  background-color: #f23;
  left: 246px;
  top: -553px;
  width: 200px;
  height: 200px;
  animation-delay: -1800ms;
  z-index: 2;
}

.img-bg {
  z-index: 1;
}

.c-ice {
  background-color: #f0d1a5;
}

.r-ice {
  background-color: #d41443;
}

.b-ice {
  background-color: #ffa5ba;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.loader {
  height: 150px;
  width: 100px;
  border-radius: 55px 55px 10px 10px;
  position: relative;
  background: #FF3D00;
  background-image: linear-gradient(0deg, #f63a99 25%, #30dcf6 25%, #30dcf6 25%, #30dcf6 50%, #f2d200 50%, #f2d200 50%, #f2d200 75%, #70ca5c 75%);
  background-position: 0px 0px;
  background-size: auto 175px;
  background-repeat: repeat-y;
  animation: colorShift 6s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 15px;
  width: 15px;
  height: 100px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  box-shadow: 0 15px 2px rgba(0, 0, 0, 0.25) inset;
  width: 32px;
  height: 45px;
  background: #E09C5F;
  border-radius: 0 0 12px 12px;
}

@keyframes colorShift {
  to {
    background-position: 0 175px;
  }
}/*# sourceMappingURL=main.css.map */