.education__container {
   
    border: 1px solid;
    border-color: black;
    height: 100px;
}
.education {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education-univer {
}
.education-univer__link {
}
.education-univer__title {
}
.education-cours {
}
.education-cours__link {
}
.education-cours__title {
}