.preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    top: 0;
    left: 0;

    background: #222;

    transition: 1s all;
    opacity: 1;
    visibility: visible;


.preloader-loader {
    color: rgb(124, 124, 124);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    // -webkit-box-sizing: content-box;
    // box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    justify-content: center;
    border-radius: 8px;
  }
  &.done{
    opacity: 0;
    visibility: hidden;
    }
}
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin_4991 4s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }

  .spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }
  
  .spinner::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #956afa 0%, #222 50%);
    animation: spin .5s infinite linear;
  }
  
  .spinner::after {
    width: 85%;
    height: 85%;
    background-color: #212121;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  