// .about__bg{
//     // z-index: 0;
//     // opacity: 2;
//     position: absolute;
// }

#stars { 
    // background:#477ab9;
    width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
    #stars:hover { 
    // background:#3D689C;
    }