


body {
  background: radial-gradient(#222,#222);
  overflow-x:hidden; 
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
img {
  display: block;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}