<section class="about container">
      <div class='light x1'></div>
      <div class='light x2'></div>
      <div class='light x3'></div>
      <div class='light x4'></div>
      <div class='light x5'></div>
      <div class='light x6'></div>
      <div class='light x7'></div>
      <div class='light x8'></div>
      <div class='light x9'></div>

        <div class="about__title ">
            <span class="about__title-sub-hi">HI THERE 👋 I'M</span>
            <span class="about__title-sub-kg">KOSTYA GETALO</span>
            <div class="about__title-sub-line"></div>
            <span class="about__title-sub-i">
              I am a Full - Stack  developer. <br>
              I focus on HTML5, CSS3, JS, React.<br>
              Development, practice and work for the<br>
              result are important for me.<br>
            </span> 
        </div>
    </section>