<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.min.css">
    <title>Document</title>
</head>
<body>
    <!-- <include src="partials\header.html"></include>     -->
    <section>
        <about>
            <image>
                <img src="../img/reader.jpg" alt="">
            </image>
            <text>
                <p>
                    Freelance project to create a simple website for a mechanism store </br>
                    The task was to write a simple website to attract customers
                    [HTML, CSS, JS]
                </p>
            </text>
            
        </about>
    </section>
</body>
</html>