<section class="education__container container">
        <div class="education">
            <div class="education-univer">
                <img class="education-univer-kimy" src="./img/kimy.svg" alt="">
                <a class="education__link" href="">Kyiv Inernational University</a>
                <p class="education__title">Specialty Information Technology Bachelor 2020 - 2025</p>
            </div>
            <div class="education-cours">
              <img class="education-cours-goit" src="./img/logo-goit.png" alt="">
                <a class="education__link" href="">IT School GoIT</a>
                <p class="education__title">2021 - 2022 Full Stack Developer</p>
            </div>
        </div>
    </section>