<header class="header__cont container">
    <div class="header ">
      <div class="header__logo">
        <a class="header__logo-link" href="./index.html">
          <span class="header__logo-myName"> Kostya Get </span>
          <!-- <button>
            <span>Kostya Getalo</span>
          </button> -->
        </a>
      </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li>
                  <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> About
                  </button>
                </li>
                <li>
                  <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> <a href="#project">Projects</a>
                    
                  </button>
                </li>
                <li>
                  <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Contact
                  </button>
                </li>
            </ul>
        </nav>
      </div>
    </div>
  </header>