<section id="project" class="section-swiper ">
  <swiper-container class="swiper-container"  initialSlide="1" speed="1500"  effect="coverflow"  centered-slides="true"
  slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="200"
  coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false">
    <swiper-slide class="swiper-slide">
      <a class="slide-link" href="./pages/blum.html">
        <div class="slider-card">
          <img src="./img/blum/blum.jpg" />
          <p>BLUM</p>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/webstudion.html">
        <div class="slider-card web">
          <img src="./img/web/web.jpg" />
          <div>
            <p class="web">Web</p> <p class="sty">Studio</p>
          </div>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/icecream.html">
        <div class="slider-card ice">
          <img src="./img/ice/ice.jpg" />
          <p>icecream</p>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/reader.html">
        <div class="slider-card reader">
          <img src="./img/reader/reader.jpg" />
          <p>Books Reader</p>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/filmoteka.html">
        <div class="slider-card reader">
          <img src="./img/film/film.png" />
          <p>Filmoteka</p>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/img-find.html">
        <div class="slider-card reader">
          <img src="./img/img-find/img-find.png" />
          <p>Img-find</p>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/feedback.html">
        <div class="slider-card reader">
          <img src="./img/feedback/feedback.png" />
          <p>Feedback</p>
        </div>
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="slide-link" href="./pages/phonebook.html">
        <div class="slider-card reader">
          <img src="./img/phonebook/phonebook.png" />
          <p>Phonebook</p>
        </div>
      </a>
    </swiper-slide>
  </swiper-container>
</section>