<section class="section-swiper ">
  <swiper-container class="mySwiper" speed="1500"initialSlide="1" effect="coverflow" grab-cursor="true" centered-slides="true"
  slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="200"
  coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false">
    <!-- <swiper-slide>
      <div><a href="">site</a></div>
    </swiper-slide> -->
    <swiper-slide>
      <div class="slider-card">
        <img src="./img/blum.jpg" />
        <p>BLUM</p>
      </div>
      
    </swiper-slide>
    <swiper-slide>
      <div class="slider-card web">
        <img src="./img/web.jpg" />
        <div>
          <p class="web">Web</p> <p class="sty">Studio</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider-card ice">
        <img src="./img/ice.jpg" />
        <p>icecream</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider-card">
        <img src="./img/reader.jpg" />
        <p>Books Reader</p>
      </div>
    </swiper-slide>
    <!-- <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </swiper-slide> -->
  </swiper-container>
  <script>
    var swiper = new Swiper(".mySwiper", {
  initialSlide: 2,
});
  </script>
</section>