<section id="project" class="project container">

    <div class="project__list container">
        <div class="project__card">
            <div class="project__card-content">
              <div class="project__card-back">
                <div class="project__card-back-content">
                  <div class="project__card-back-logo">
                    <span class=" web-font">Web</span><span class="sty">Studio</span>
                  </div>
                </div>
              </div>
              <div class="front front-web">
                <div class="img">
                    <!-- <img class="img-bg" src="./img/bg.jpg" alt=""> -->
                  <div class="circle">
                  </div>
                  <div class="circle bottom" >
                  </div>
                  <div class="circle right" >
                  </div>
                </div>
                <div class="front-content badge">
                        <a class="badge" href="https://kostyaget.github.io/WebStudio/">
                            <span class="web-font">Web</span><span class="sty">Studio</span>
                        </a>
                  <div class="description">
                    <div class="title">
                      <p class="title">
                        My role in this project was team-leader <br/>
                        A website with a responsive layout<br/>
                            [HTML, CSS]
                      </p>
                      <!-- <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg> -->
                    </div>
                    <!-- <p class="card-footer">
                      30 Mins &nbsp; | &nbsp; 1 Serving
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="project__card">
            <div class="project__card-content">
              <div class="project__card-back">
                <div class="project__card-back-content">
                  <div class="project__card-back-logo logo-ice">
                    <p>IceCream Shop</p>
                  </div>
                  <div class="loader"></div>
                </div>
              </div>
              <div class="front front-ice">
                <div class="img">
                  <div class="circle c-ice">
                  </div>
                  <div class="circle right r-ice" id="right">
                  </div>
                  <div class="circle bottom b-ice" id="bottom">
                  </div>
                </div>
                <div class="front-content badge ">
                        <a class="badge badge-ice" href="https://solomon-it-dev.github.io/goit-team-project/">
                            <p>IceCream Shop</p>
                        </a>
                  <div class="description">
                    <div class="title-ice">
                      <p class="title-ice">
                        My role in this project was developer  <br/>
                        It was a team project, the site with ice-cream related content
                        <br/>[HTML, SASS, JS, Parcel]
                      </p>
                      <!-- <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg> -->
                    </div>
                    <!-- <p class="card-footer">
                      30 Mins &nbsp; | &nbsp; 1 Serving
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="project__card">
            <div class="project__card-content">
              <div class="project__card-back">
                <div class="project__card-back-content">
                  <div class="project__card-back-logo">
                    <span class="web">Filmoteka</span>
                  </div>
                </div>
              </div>
              <div class="front">
                <div class="img">
                  <div class="circle">
                  </div>
                  <div class="circle" id="right">
                  </div>
                  <div class="circle" id="bottom">
                  </div>
                </div>
                <div class="front-content badge">
                        <a class="badge" href="https://kostyaget.github.io/WebStudio/">
                            <span class="web">Web</span><span class="sty">Studio</span>
                        </a>
                  <div class="description">
                    <div class="title">
                      <p class="title">
                        My role in this project was team-leader <br/>
                        A website with a responsive layout<br/>
                            [HTML, CSS]
                      </p>
                      <!-- <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg> -->
                    </div>
                    <!-- <p class="card-footer">
                      30 Mins &nbsp; | &nbsp; 1 Serving
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="project__card">
            <div class="project__card-content">
              <div class="project__card-back">
                <div class="project__card-back-content">
                  <div class="project__card-back-logo">
                    <span class="web">Books Reader</span>
                  </div>
                </div>
              </div>
              <div class="front">
                <div class="img">
                  <div class="circle">
                  </div>
                  <div class="circle" id="right">
                  </div>
                  <div class="circle" id="bottom">
                  </div>
                </div>
                <div class="front-content badge">
                        <a class="badge" href="https://kostyaget.github.io/WebStudio/">
                            <span class="web">Web</span><span class="sty">Studio</span>
                        </a>
                  <div class="description">
                    <div class="title">
                      <p class="title">
                        My role in this project was team-leader <br/>
                        A website with a responsive layout<br/>
                            [HTML, CSS]
                      </p>
                      <!-- <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg> -->
                    </div>
                    <!-- <p class="card-footer">
                      30 Mins &nbsp; | &nbsp; 1 Serving
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="project__card">
            <div class="project__card-content">
              <div class="project__card-back">
                <div class="project__card-back-content">
                  <div class="project__card-back-logo">
                    <span class="web">Web</span><span class="sty">Studio</span>
                  </div>
                </div>
              </div>
              <div class="front">
                <div class="img">
                  <div class="circle">
                  </div>
                  <div class="circle" id="right">
                  </div>
                  <div class="circle" id="bottom">
                  </div>
                </div>
                <div class="front-content badge">
                        <a class="badge" href="https://kostyaget.github.io/WebStudio/">
                            <span class="web">Web</span><span class="sty">Studio</span>
                        </a>
                  <div class="description">
                    <div class="title">
                      <p class="title">
                        My role in this project was team-leader <br/>
                        A website with a responsive layout<br/>
                            [HTML, CSS]
                      </p>
                      <!-- <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg> -->
                    </div>
                    <!-- <p class="card-footer">
                      30 Mins &nbsp; | &nbsp; 1 Serving
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="project__card">
            <div class="project__card-content">
              <div class="project__card-back">
                <div class="project__card-back-content">
                  <div class="project__card-back-logo">
                    <span class="web">Web</span><span class="sty">Studio</span>
                  </div>
                </div>
              </div>
              <div class="front">
                <div class="img">
                  <div class="circle">
                  </div>
                  <div class="circle" id="right">
                  </div>
                  <div class="circle" id="bottom">
                  </div>
                </div>
                <div class="front-content badge">
                        <a class="badge" href="https://kostyaget.github.io/WebStudio/">
                            <span class="web">Web</span><span class="sty">Studio</span>
                        </a>
                  <div class="description">
                    <div class="title">
                      <p class="title">
                        My role in this project was team-leader <br/>
                        A website with a responsive layout<br/>
                            [HTML, CSS]
                      </p>
                      <!-- <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg> -->
                    </div>
                    <!-- <p class="card-footer">
                      30 Mins &nbsp; | &nbsp; 1 Serving
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>