.about {
    height: 150vh; /* set the height to the viewport height */
    // max-width: 100%; /* set the width to 100% of the container */
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
  }
  
.about__title {
    font-family: $mainFont;
    font-size: 32px;
    letter-spacing: 8px;
    color: white;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-top: 320px;
    margin-left: 109px;
    
}
.about__title-sub-i{
  font-size: 18px;

  margin-top: 100px;
}
.about__title-sub-line{
  width: 0;
  background-color: #ff4142;
  max-width: 200px;
  height: 4px;
  // transition: width 1s ease .5s;
}
