.education__container {
   
    border: 1px solid;
    border-color: black;
    // height: 100px;
}
.education {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.education-univer {
    font-family: $webFont;
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    
}

.education-univer-kimy{
    width: 40px;
    height: 45px;
}
.education-cours {
    font-family: $webFont;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.education__link {
    text-decoration: none;
    color: black;
    padding-left: 30px;
}
.education__title {
    padding-left: 20px;
    
}
