.header__cont {
    // position: fixed;
    // padding-top: 60px;
    display: flex;
    align-items: center;
    // border: 1px solid;
    // border-color: black;
    // background-color: #212121;
    height: 60px;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: $headerFont;
    
    // background-color: rgb(44, 44, 44);
}
.header__logo-link {
    text-decoration: none;
}
.header__logo{
    padding-left: 20px;
    max-width: 100%;
    // display: flex;
    // color: aliceblue;
}
.header__logo-myName{
    font-family:$logoFont ;
    color:white ;
}
.header__logo-hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  

.header__nav{
    display: flex;
    // justify-content: space-around;
    // margin-left: 200px;
    max-width: 100%;
    
}
.header__nav-list {
    font-family: $mainFont;

    display: flex;
    justify-content: center;
    width: 100%;
    // align-items: center;
    // justify-content: space-around
    // padding-left: 500px
}
.header__nav-list li {
   margin-left: 20px;
}