.image-site{
    width: 800px;
}

about-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
text-site{
    margin-top: 20px;
    color: $text-color;
}

.technologies{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin-top: 20px;
}
.technologies p{
    font-family: $mainFont;
    color: $text-color;
}