
.about-project{
    margin-top: 100px;
}
.image-site{
    border-radius: 10px;
    width: 800px;
    
}
.W{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}
.m{
    font-size: 100px;
    margin-top: 175px;
    margin-bottom: 175px;
}
about-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: $mainFont;
    
    color: $text-color;

}
.about-inf{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.text-site{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family:$logoFont ;
    color: $text-color;
}
.text-site__title{
    font-family:$logoFont ;
    font-size: 30px;
    margin-bottom: 20px;
}
.technologies{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    font-size: 20px;
    font-family: $mainFont;
    color: $text-color;
}
.technologies-icon{
    font-family:$logoFont ;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;

}
.technologies-icon p{
    border: 1px solid #fff;
    padding: 10px 20px;
}

.prev-img{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prev-img img{
    margin-top: 40px;
    border-radius: 10px;
    width: 800px;
}