  .section-swiper{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100vh;
  }
  .slider-card{
    
    font-size: 50px;
    font-family: $logoFont  ;
    color: #F15A24;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider-card p{
    padding-top: 2px;
  }
  .slider-card div{
    display: flex;
    align-items: center;
  }
.ice{
  color: #d41443;
  font-family: $iceFont  ;
  font-weight: 400;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.web{
  
  font-family: $webFont;
  font-weight: bold;
  font-size: 50px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.sty{
  font-family: $mainFont;
  font-weight: bold;
  font-size: 50px;
  line-height: 0.7;
  letter-spacing: 0.03em;
  color: white;
}
.reader{
  color: white;
}
.slide-link{
  text-decoration: none;
}
  

    swiper-container {
      // width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    swiper-slide {
      
      background-position: center;
      background-size: cover;
      max-width: 700px;
    }

    swiper-slide img {
      // display: block;
      border-radius: 10px;
      width: 700px;
    }